---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const externalPosts = [
  {
    id: "external-1",
    slug: "",
    body: "",
    collection: "external",
    data: {
      title: "VimでMarkdownの日本語メモを取るための設定をする",
      pubDate: new Date("2017-04-27"),
      url: "https://qiita.com/tkancf/items/e61b7c09def497204628",
    },
  },
  {
    id: "external-2",
    slug: "",
    body: "",
    collection: "external",
    data: {
      title: "この1冊ですべてわかる 新版 コーチングの基本を読みました",
      pubDate: new Date("2022-08-21"),
      url: "https://tkancf.hateblo.jp/blog/%E3%81%93%E3%81%AE1%E5%86%8A%E3%81%A7%E3%81%99%E3%81%B9%E3%81%A6%E3%82%8F%E3%81%8B%E3%82%8B_%E6%96%B0%E7%89%88_%E3%82%B3%E3%83%BC%E3%83%81%E3%83%B3%E3%82%B0%E3%81%AE%E5%9F%BA%E6%9C%AC%E3%82%92%E8%AA%AD%E3%81%BF%E3%81%BE",
    },
  },
  {
    id: "external-3",
    slug: "",
    body: "",
    collection: "external",
    data: {
      title: "Hugoのテーマを自作したので、知見メモ",
      pubDate: new Date("2022-08-21"),
      url: "https://tkancf.hateblo.jp/blog/hugo-theme-memo",
    },
  },
  {
    id: "external-4",
    slug: "",
    body: "",
    collection: "external",
    data: {
      title: "Hugo で生HTMLを書く方法",
      pubDate: new Date("2022-08-21"),
      url: "https://tkancf.hateblo.jp/blog/hugo-raw-html",
    },
  },
  {
    id: "external-5",
    slug: "",
    body: "",
    collection: "external",
    data: {
      title: "2ヶ月間Togglであらゆる時間をトラッキングしてみた",
      pubDate: new Date("2020-11-06"),
      url: "https://tkancf.hateblo.jp/blog/2%E3%83%B6%E6%9C%88%E9%96%93Toggl%E3%81%A7%E3%81%82%E3%82%89%E3%82%86%E3%82%8B%E6%99%82%E9%96%93%E3%82%92%E3%83%88%E3%83%A9%E3%83%83%E3%82%AD%E3%83%B3%E3%82%B0%E3%81%97%E3%81%A6%E3%81%BF%E3%81%9F",
    },
  },
  {
    id: "external-6",
    slug: "",
    body: "",
    collection: "external",
    data: {
      title:
        "『エンジニアの知的生産術 ──効率的に学び、整理し、アウトプットする 』を読みました",
      pubDate: new Date("2020-09-09"),
      url: "https://tkancf.hateblo.jp/blog/%E3%80%8E%E3%82%A8%E3%83%B3%E3%82%B8%E3%83%8B%E3%82%A2%E3%81%AE%E7%9F%A5%E7%9A%84%E7%94%9F%E7%94%A3%E8%A1%93_%E2%94%80%E2%94%80%E5%8A%B9%E7%8E%87%E7%9A%84%E3%81%AB%E5%AD%A6%E3%81%B3%E3%80%81%E6%95%B4%E7%90%86%E3%81%97%E3%80%81",
    },
  },
  {
    id: "external-7",
    slug: "",
    body: "",
    collection: "external",
    data: {
      title: "VimConf 2018が最高だった",
      pubDate: new Date("2018-11-29"),
      url: "https://tkancf.hateblo.jp/blog/VimConf_2018",
    },
  },
  {
    id: "external-8",
    slug: "",
    body: "",
    collection: "external",
    data: {
      title: "Builderscon 2018 に参加した",
      pubDate: new Date("2018-10-10"),
      url: "https://tkancf.hateblo.jp/blog/builderscon-2018",
    },
  },
  {
    id: "external-9",
    slug: "",
    body: "",
    collection: "external",
    data: {
      title: "Go言語でコマンドラインで動くポモドーロタイマー作った",
      pubDate: new Date("2017-06-01"),
      url: "https://tkancf.hateblo.jp/blog/gomato",
    },
  },
  {
    id: "external-10",
    slug: "",
    body: "",
    collection: "external",
    data: {
      title: "fish shellの初期設定覚え書き（PATHの設定とか）",
      pubDate: new Date("2017-03-30"),
      url: "https://tkancf.hateblo.jp/blog/2017/03/30",
    },
  },
];

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const combinedPosts = [...posts, ...externalPosts].sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} image="" />
    <style>
      ul {
        list-style-type: none;
        padding: unset;
      }
      ul li {
        display: flex;
        margin-bottom: 8px;
      }
      ul li :global(time) {
        flex: 0 0 130px;
        font-style: italic;
        color: #595959;
      }
      ul li a:visited {
        color: #8e32dc;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            combinedPosts.map((post) => (
              <li>
                <FormattedDate date={post.data.pubDate} />
                <a
                  href={
                    post.collection === "external"
                      ? post.data.url
                      : `/blog/${post.slug}/`
                  }
                >
                  {post.collection === "external" ? "(外部リンク): " : ""}
                  {post.data.title}{" "}
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
